body {
  font-family: Arial, sans-serif;
  background-color: #262626;
}

h1, h2, h3, p, a, li {
  color: aliceblue;
  margin: 10px;
  list-style: none;
}

article {
    border: 1px solid aliceblue;
    margin-bottom: 5px;
}

ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
